@import "tailwindcss";

@theme {
    --font-display: "Poppins", "sans-serif";
    --font-secondary: "Inter", "sans-serif";
    --color-background: #121316;
    --color-text-primary: #FAFAFA;
    --color-text-secondary: #96989E;
    --color-primary: #1C67F3;
    --color-info: #003FD2;
    --color-elevated: #16171A;
    --color-muted: #26292D;
    --color-input-border: #24262C;
    --color-warning: #E8A200;
    --color-accent-hover: #2C2F36;
}